body{
  color: #9999ff;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.menu-children{
  color: #6600cc;
  float: left;
  list-style-type: none;
  padding:8px;
}

#navigation-container-1{
    background-color:#ffccff;
    height: 65px;
    padding-top: 30px;
}



#banner{
  width:100%;
  height:500px;
  background-image:url(images/watercolor.jpg);
  
}

.nav-links{
  text-decoration: none;
  color:white;
}

.nav-links:hover{
 padding-top:10px;
 border-top: 2px solid white;
}
