body{
  margin:0 auto;
  font-family: 'Source Sans', sans-serif;
  background-color:  #999999;
}

a{
  color:white;
  text-decoration: none;
  }

#logo{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 35pt;
}

a:hover{
  color: ;
  transiotn:color 0.5s ease;
  }

.navbar{
  display: flex;
  height:50px;
  width:100%;
  padding: 15px;
  color: white;
  font-weight: 300;
  top: 0;
  z-index: 10;
  position: fixed;
}

.nav-groups{
  display: flex;
}

.navbar-links{
  padding-right:50px;
  position: relative;
  top: 15px;
}

#right-nav{
  margin-left:auto;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.card-container {
  display: flex
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #999999;
  z-index: 1;

}
.card__image-container{
  width: 100%;
}

.card {
  position: relative;
  background: #333;
  width: 450px;

  border-radius: 10px;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
    0 0 1rem rgba(0,0,0,0.2);

  margin-bottom: 100px;
}

.card__content{
  padding:0px 2rem;

}
